<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="controller" />
    <mvc:annotation-driven />

    <!-- Configure static resource handling -->
    <mvc:resources mapping="/resources/**" location="/resources/" />

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.jdbc.Driver" />
        <property name="url" value="jdbc:mysql://localhost:3306/test" />
        <property name="username" value="root" />
        <property name="password" value="ayesha123" />
    </bean>

    <bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
        <property name="dataSource" ref="ds" />
    </bean>

    <bean id="dao" class="dao.VehicleDao">
        <property name="template" ref="jt" />
    </bean>

    <bean id="driverDao" class="dao.DriverDao">
        <property name="template" ref="jt" />
    </bean>

    <bean id="maintenanceScheduleDao" class="dao.MaintenanceScheduleDao">
        <property name="template" ref="jt" />
    </bean>

    <bean id="maintenanceHistoryDao" class="dao.MaintenanceHistoryDao">
        <property name="template" ref="jt" />
    </bean>
    
    
    <bean id="driverScheduleDao" class="dao.DriverScheduleDao">
    <property name="template" ref="jt" />
</bean>

<bean id="fuelPurchaseDao" class="dao.FuelPurchaseDao">
    <property name="jdbcTemplate" ref="jt" />
</bean>

<bean id="vehicleDisposalDao" class="dao.VehicleDisposalDao">
        <property name="jdbcTemplate" ref="jt" />
    </bean>

    
    
</beans>




